@page "/admin/order/details/{orderId}"
@using Application.DTOs.Request.OrderEntity
@using Domain.Models.UserEntity
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject ISellerRepository sellerService
@inject IOrderRepository orderService
@inject ILocationRepository locationService
@attribute [Authorize(Roles = "Admin")]
@if (OrderDetails == null)
{

}
else
{
    foreach (var product in OrderDetails)
    {
        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <h4>Sale Details</h4>
                        <h6>View sale details</h6>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-sales-split">
                            <h2>Sale Detail : @product.Order.OrderNumber</h2>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);"><img src="img/icons/edit.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="img/icons/pdf.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="img/icons/excel.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="img/icons/printer.svg" alt="img"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="invoice-box table-height" style="max-width: 1600px;width:100%;overflow: auto;margin:15px auto;padding: 0;font-size: 14px;line-height: 24px;color: #555;">
                            <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
                                <tbody>
                                    <tr class="top">
                                        <td colspan="6" style="padding: 5px;vertical-align: top;">
                                            <table style="width: 100%;line-height: inherit;text-align: left;">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                                            <font style="vertical-align: inherit;margin-bottom:25px;"><font style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">Customer Info</font></font><br>
                                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;"> online-order</font></font><br>
                                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;"> <a href="/cdn-cgi/l/email-protection">@product.Order.OrderMaker.Email</a></font></font><br>
                                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;"> @product.Order.OrderMaker.Name</font></font><br>
                                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;"> N45 , Dhaka</font></font><br>
                                                        </td>
                                                        @foreach (var location in Location)
                                                        {
                                                            <td style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                                                <font style="vertical-align: inherit;margin-bottom:25px;"><font style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">Location Info</font></font><br>
                                                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">Country : @location.Country</font></font><br>
                                                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;"> <a href="/cdn-cgi/l/email-protection">@location.PhoneNumber</a></font></font><br>
                                                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">Street : @location.Street</font></font><br>
                                                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">Building : @location.Building</font></font><br>
                                                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">Floor : @location.Floor</font></font><br>
                                                            </td>
                                                        }

                                                        <td style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                                            <font style="vertical-align: inherit;margin-bottom:25px;"><font style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">Invoice Info</font></font><br>
                                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;"> Reference </font></font><br>
                                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;"> Payment Status</font></font><br>
                                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;"> Status</font></font><br>
                                                        </td>
                                                        <td style="padding:5px;vertical-align:top;text-align:right;padding-bottom:20px">
                                                            <font style="vertical-align: inherit;margin-bottom:25px;"><font style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">&nbsp;</font></font><br>
                                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">@product.Order.OrderNumber </font></font><br>
                                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#2E7D32;font-weight: 400;"> Paid</font></font><br>
                                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#2E7D32;font-weight: 400;"> Completed</font></font><br>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="heading " style="background: #F3F2F7;">
                                        <td style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            Product Name
                                        </td>
                                        <td style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            QTY
                                        </td>
                                        <td style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            Price
                                        </td>
                                        <td style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            Discount
                                        </td>
                                        <td style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            Product Status
                                        </td>
                                        <td style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            Subtotal
                                        </td>
                                    </tr>
                                    @foreach(var items in OrderDetails)
                                    {
                                        <tr class="details" style="border-bottom:1px solid #E9ECEF ;">
                                            <td style="padding: 10px;vertical-align: top; display: flex;align-items: center;">
                                                <img src="@items.CoverImageUrl" alt="img" class="me-2" style="width:40px;height:40px;">
                                                @items.ProductName
                                            </td>
                                            <td style="padding: 10px;vertical-align: top; ">
                                                @items.Quantity
                                            </td>
                                            <td style="padding: 10px;vertical-align: top; ">
                                                @items.ProductPrice
                                            </td>
                                            <td style="padding: 10px;vertical-align: top; ">
                                                0.00
                                            </td>
                                            <td style="padding: 10px;vertical-align: top; ">
                                                @items.ProductStatus
                                            </td>
                                            <td style="padding: 10px;vertical-align: top; ">
                                                @items.ProductPrice
                                            </td>
                                        </tr>
                                    }
                                   

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Order Tax</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Discount</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Shipping</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select @onchange="(e) => UpdateStatusAsync(e, product)" class="select">
                                        <option value="">Choose Status</option>
                                        @foreach (var kvp in Statuses)
                                        {
                                            <option value="@kvp.Key" selected="@(product.OrderId == kvp.Key)">
                                                @kvp.Value
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 ">
                                    <div class="total-order w-100 max-widthauto m-auto mb-4">
                                        <ul>
                                            <li>
                                                <h4>Order Tax</h4>
                                                <h5>$ 0.00 (0.00%)</h5>
                                            </li>
                                            <li>
                                                <h4>Discount	</h4>
                                                <h5>$ 0.00</h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="total-order w-100 max-widthauto m-auto mb-4">
                                        <ul>
                                            <li>
                                                <h4>Shipping</h4>
                                                <h5>$ 0.00</h5>
                                            </li>
                                            <li class="total">
                                                <h4>Grand Total</h4>
                                                <h5>$ 0.00</h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <a href="javascript:void(0);" class="btn btn-submit me-2">Update</a>
                                <a href="javascript:void(0);" class="btn btn-cancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}
@code {
    [CascadingParameter] public Task<AuthenticationState> AuthStateTask { get; set; } = null!;
    private string userId;    
    Dictionary<string, string> Statuses = new();
    [Parameter] public string OrderId { get; set; }
    IEnumerable<OrderDetails> OrderDetails { get; set; }
    IEnumerable<LocationDTO> Location { get; set; }

    protected override async Task OnInitializedAsync()
    {
              
        await GetProducts();        
        await GetOrderStatuses();
    }
    private async Task GetProducts()
    {
        try
        {
            OrderDetails = await sellerService.GetOrder(OrderId);
            if (OrderDetails != null && OrderDetails.Any())
            {
                var firstOrder = OrderDetails.FirstOrDefault();
                if (firstOrder?.Order?.OrderMaker != null)
                {
                    var userIdFromOrder = firstOrder.Order.OrderMaker.Id;
                    Console.WriteLine($"User ID from Order: {userIdFromOrder}");
                    await GetLocation(userIdFromOrder);
                }
                else
                {
                    Console.WriteLine("Order or OrderMaker is null.");
                }
            }        
            else
            {
                Console.WriteLine("No products found.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching products: {ex.Message}");
        }
    }

    private async Task GetLocation(string customerId)
    {
        try
        {

            Location = await locationService.GetLocation(customerId);
            if (OrderDetails != null)
            {
                Console.WriteLine("Categories fetched successfully");
            }
            else
            {
                Console.WriteLine("No categories found.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching categories: {ex.Message}");
        }

    }

    private async Task GetOrderStatuses()
    {
        try
        {
            Statuses = await orderService.GetOrderStatusAsync();
            Console.WriteLine("Categories fetched successfully.");
            foreach (var category in Statuses)
            {
                Console.WriteLine($"Key: {category.Key}, Value: {category.Value}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching categories: {ex.Message}");
        }
    }

    private async Task UpdateStatusAsync(ChangeEventArgs e, OrderDetails selectedOrder)
    {
        // Get the new status id from the dropdown selection
        var newStatusId = e.Value.ToString();

        if (!string.IsNullOrEmpty(newStatusId) && selectedOrder != null)
        {
            // Call your backend logic to update the order status for the selected order
            var response = await orderService.ChangeOrderStatusAsync(selectedOrder.OrderId, newStatusId);

            if (response.Flag)
            {
                // Update the local status after successful save
                selectedOrder.ProductStatus = newStatusId;

                // You could also show a success message or trigger further UI updates
                Console.WriteLine("Order status updated successfully.");
            }
            else
            {
                // Handle failure, maybe show a message to the user
                Console.WriteLine($"Failed to update status: {response.Message}");
            }
        }
    }
}