﻿<Router AppAssembly="@typeof(App).Assembly">
    <Found Context=routeData>
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized></NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alret">Sorry, there is nothing at this address</p>
        </LayoutView>
    </NotFound>
</Router>