@page "/product/list"
@using Application.DTOs.Request.ProductEntity
@using Application.Interfaces
@using Domain.Models.UserEntity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject IMenuRepository menuService
@inject IProductRepository productService
@inject IJSRuntime JS
@attribute [Authorize(Roles = "Seller")]

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h6>Manage your products</h6>

            </div>
            <div class="page-btn">
                <a href="/product/add" class="btn btn-added"><img src="img/icons/plus.svg" alt="img" class="me-1">Add New Product</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="img/icons/filter.svg" alt="img">
                                <span><img src="img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="img/icons/pdf.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="img/icons/excel.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="img/icons/printer.svg" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card mb-0" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Choose Product</option>
                                                <option>Macbook pro</option>
                                                <option>Orange</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Choose Category</option>
                                                <option>Computers</option>
                                                <option>Fruits</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Choose Sub Category</option>
                                                <option>Computer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Brand</option>
                                                <option>N/D</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12 ">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Price</option>
                                                <option>150.00</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-6 col-12">
                                        <div class="form-group">
                                            <a class="btn btn-filters ms-auto"><img src="img/icons/search-whites.svg" alt="img"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Category </th>
                                <th>Cost</th>
                                <th>Price</th>
                                <th>Sold</th>                                
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in products)
                            {
                                <tr>
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td class="productimgname">
                                        <a href="javascript:void(0);" class="product-img">
                                            <img src="img/product/product1.jpg" alt="product">
                                        </a>
                                        <a href="javascript:void(0);">@item.Name</a>
                                    </td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Category</td>
                                    <td>@item.Cost</td>
                                    <td>@item.SellingPrice</td>
                                    <td>@item.TotalSold</td>                                    
                                    <td>Admin</td>
                                    <td>
                                        <a class="me-3" href="product-details.html">
                                            <img src="img/icons/eye.svg" alt="img">
                                        </a>
                                        <a class="me-3" >
                                            <img src="img/icons/edit.svg" alt="img">
                                        </a>
                                        <a class="confirm-text" href="javascript:void(0);" @onclick="() => DeleteProduct(item.Id)">
                                            <img src="img/icons/delete.svg" alt="img">
                                        </a>
                                    </td>                                    
                                </tr>
                            }                                                      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
         
    </div>
</div>



<script src="js/bootstrap.bundle.min.js"></script>
<script src="plugins/select2/js/select2.min.js"></script>
<script src="plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="plugins/sweetalert/sweetalerts.min.js"></script>

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthStateTask { get; set; } = null!;
    private string userId;
    private string cartId;
    IEnumerable<CategoryDTO> categories;
    IEnumerable<ProductDTO> products;
    

    protected override async Task OnInitializedAsync()
    {     
        await GetCategories();
        await GetProducts();
    }

    private async Task GetCategories()
    {
        try
        {
            categories = await menuService.GetAllCategories();
            if (categories != null && categories.Any())
            {
                Console.WriteLine("Categories fetched successfully");
            }
            else
            {
                Console.WriteLine("No categories found.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching categories: {ex.Message}");
        }
    }

    private async Task GetProducts()
    {
        try
        {
            var authState = await AuthStateTask;
            var userIdClaim = authState.User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier);

            if (userIdClaim != null)
                userId = userIdClaim.Value;

            products = await menuService.GetProductBySeller(userId);
            if (products != null && products.Any())
            {
                Console.WriteLine("Categories fetched successfully");
            }
            else
            {
                Console.WriteLine("No categories found.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching categories: {ex.Message}");
        }

    }
    
    [JSInvokable]
    public async Task<bool> DeleteProduct(string productId)
    {
        try
        {
            var response = await productService.RemoveProductAsync(productId);

            if (response.Flag)
            {
                products = products.Where(p => p.Id != productId).ToList();
                StateHasChanged();
                return true;
            }
            else
            {
                return false;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error deleting product: {ex.Message}");
            return false;
        }
    }
}
